<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongh.grmr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_mainlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity android:name=".Login.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dongh.grmr.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Profile_Register.register_step1" />
        <activity android:name=".Profile_Register.register_step2" />
        <activity
            android:name=".Login.Activity.EmailregisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Profile_Register.register_step3" />
        <activity android:name=".Profile_Register.register_step4" />
        <activity android:name=".Profile_Register.register_step5" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Matching_register.Travel_ticket_select" />
        <activity android:name=".Matching_register.NoTicket" />
        <activity android:name=".Main.CategoryActivity" />
        <activity android:name=".Matching_register.Travel_Schedule" />
        <activity android:name=".etc.alarm" />
        <activity
            android:name=".Matching_register.region_search"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".Matching_register.Constructor.matching_check" />
        <activity android:name=".etc.alarm" />
        <activity android:name=".Settings.MyPage" />
        <activity android:name=".Login.Activity.pwfind" />
        <activity android:name=".Login.Activity.signup" />
        <activity android:name=".Matching_register.Location_select" />
    </application>

</manifest>